* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

.container {
  margin: 0 auto;
  width: 1000px;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.grid-item {
  width: 500px;
  height: 300px;
  background-color: lightgrey;
  display: flex;
  align-items: center;
  justify-content: center;
}

.grid-item img {
  width: 500px;
  height: 300px;
  display: none;
}

.grid-item:hover img {
  display: block;
  opacity: 30%;
}

.grid-item:hover p {
  display: none;
  opacity: 0;
}

@keyframes fadein {
}
