body {
    background-color: #fbf2e9;
}

form {
	margin-bottom: 20px;
}
label {
	display: block;
	margin-bottom: 10px;
}
input,
select {
	margin-bottom: 10px;
}
.error {
	color: #a11805;
	margin-top: 5px;
}

.color-form {
  margin-bottom: 20px;
}

.color-form label {
  margin-right: 10px;
}

.color-block {
  display: inline-block;
  width: 100px;
  height: 100px;
  margin-right: 10px;
}

.color-block span {
  display: block;
  margin-top: 5px;
}
